/* Normalize */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Main styles */
body {
  background: rgba(192, 69, 69, 1);
  font-family: monospace;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.FortuneCookieMessage {
  color: white;
  text-align: center;
}
